$white: #fff;
$body-bg: #202020;

$component-active-bg: lighten(#083e6b, 15%);
$theme-colors: (
  "primary": $component-active-bg
);


$input-group-addon-bg: #424242;
$input-group-addon-color: $white;
$input-bg: #666666;
$input-border-color:  #5c5c5c;
$input-color: $white;

// $input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              $component-active-bg;
$input-focus-color:                     $input-color;
// $input-focus-width:                     $input-btn-focus-width !default;
// $input-focus-box-shadow:                $input-btn-focus-box-shadow !default;
$input-focus-box-shadow: inset 0 0 0 .2rem $component-active-bg;


@import "node_modules/bootstrap/scss/bootstrap";

#output{
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */ 
}