// ACE styling
$ace-background: rgb(112, 112, 112);
$dark-ace: #18171b;
$text-blue: #8ef7ff;
$ace-string: rgb(253, 162, 77);
$number-boolean: rgb(172, 253, 78);

/* dark styling of the editor */
div.jsoneditor,
div.jsoneditor-menu {
  border-color: #4b4b4b;
}
div.jsoneditor-menu {
  background-color: #4b4b4b;
}
div.jsoneditor-tree,
div.jsoneditor textarea.jsoneditor-text {
  background-color: $ace-background;
  color: #ffffff;
}
div.jsoneditor-field,
div.jsoneditor-value {
  color: #ffffff;
}
table.jsoneditor-search div.jsoneditor-frame {
  background: #808080;
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
  background-color: #808080;
}

div.jsoneditor-field[contenteditable="true"]:focus,
div.jsoneditor-field[contenteditable="true"]:hover,
div.jsoneditor-value[contenteditable="true"]:focus,
div.jsoneditor-value[contenteditable="true"]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
  background-color: #808080;
  border-color: #808080;
}

div.jsoneditor-field.highlight-active,
div.jsoneditor-field.highlight-active:focus,
div.jsoneditor-field.highlight-active:hover,
div.jsoneditor-value.highlight-active,
div.jsoneditor-value.highlight-active:focus,
div.jsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
}

div.jsoneditor-tree button:focus {
  background-color: #868686;
}

/* coloring of JSON in tree mode */
div.jsoneditor-readonly {
  color: $text-blue;
}
div.jsoneditor td.jsoneditor-separator {
  color: #f0f0f0;
}
div.jsoneditor-value.jsoneditor-string {
  color: $ace-string;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
  color: lighten($text-blue, 15%);
}
div.jsoneditor-value.jsoneditor-number {
  color: $number-boolean;
}
div.jsoneditor-value.jsoneditor-boolean {
  color: $number-boolean;
  font-style: italic;
}
div.jsoneditor-value.jsoneditor-null {
  color: $text-blue;
}
div.jsoneditor-value.jsoneditor-invalid {
  color: $text-blue;
}

.jsoneditor-navigation-bar {
  background-color: $ace-background;
  color: white;
  border-bottom: 1px solid darken($ace-background, 10%);
}

div.jsoneditor-tree button.jsoneditor-button:focus {
  background-color: $dark-ace;
  outline: $dark-ace solid 1px;
}
//

div.ace_scroller,
div.ace-jsoneditor {
  background-color: $ace-background !important;
}

div.ace_gutter-cell {
  color: white;
}

.ace-jsoneditor .ace_gutter-active-line {
  background-color: darken($ace-background, 10%);
}

.ace-jsoneditor .ace_gutter {
  background-color: lighten($ace-background, 10%);
  color: #333;
}

.jsoneditor-statusbar {
  line-height: 26px;
  height: 26px;
  color: rgb(255, 255, 255);
  background-color: lighten($ace-background, 20%);
  border-top: 1px solid darken($ace-background, 10%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10pt;
}
// .ace_open,
// .ace_close {
//   color: white;
// }

.ace-jsoneditor .ace_text-layer {
  color: lighten($text-blue, 15%);
}

.ace-jsoneditor .ace_variable {
  color: $text-blue;
}

.ace-jsoneditor .ace_string {
  color: $ace-string;
}
.ace-jsoneditor .ace_constant.ace_numeric {
  color: $number-boolean;
}

.ace-jsoneditor .ace_constant.ace_language {
  color: $number-boolean;
  font-style: italic;
}

.ace-jsoneditor .ace_marker-layer .ace_active-line {
  background: $dark-ace;
}
.jsoneditor .jsoneditor-validation-errors-container {
  background-color: #ec5443;
}
pre {
  color: white;
}

.jsoneditor-popover,
.jsoneditor-schema-error,
div.jsoneditor td,
div.jsoneditor textarea,
div.jsoneditor th,
div.jsoneditor-field,
div.jsoneditor-value,
pre.jsoneditor-preview {
  color: $text-blue;
}
.ace-jsoneditor .ace_marker-layer .ace_selection {
  background: darken($ace-background, 20%);
}
